{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Monopoly Wallet</h1>
<p>Game: <b>{{ gameID }}</b></p>
<p>Name: <b id="player"></b></p>

<br>

<!-- HOLDINGS -->
<h3>Holdings: <b id="holdings"></b></h3>

<br>

<!-- REFRESH -->
<button id="button-refresh" class="ui primary button">Refresh</button>

<br><br>

<!-- TRANSFER -->
<h3>Transfer</h3>
<div id="transfer-recipients" class="ui compact selection dropdown">
	<input type="hidden" name="recipients">
	<i class="dropdown icon"></i>
	<div class="default text">Recipient</div>
	<div id="options-transfer" class="menu"></div>
</div>
<div class="ui input">
	<input id="transfer-amount" type="number" placeholder="Amount" style="width: 10em">
</div>
<button id="button-transfer" class="ui button">Send</button>

<br><br>

<!-- RECEIVE -->
<h3>Receive</h3>
<div class="ui input">
	<input id="receive-amount" type="number" placeholder="Amount" style="width: 10em">
</div>
<button id="button-receive" class="ui button">Receive from bank</button>

<br><br>

<!-- FREE PARKING -->
<h3>Free parking: <b id="free-parking"></b></h3>
<button id="button-free-parking" class="ui button">Get free parking</button>

<br><br>

<hr>

<!-- PLAYERS -->
<h3>Players</h3>
<table id="table-players" class="ui right aligned table">
	<thead>
		<th class="center aligned">Name</th>
		<th class="center aligned">Amount</th>
	</thead>
	<tbody>
	</tbody>
</table>

<!-- PLAYERS -->
<h3>Recent Transfers</h3>
<table id="table-transfers" class="ui right aligned table">
	<thead>
		<th class="center aligned">From</th>
		<th class="center aligned">To</th>
		<th class="center aligned">Amount</th>
	</thead>
	<tbody>
	</tbody>
</table>

<br>


{% endblock content %}

{% block scripts %}
<script src="{% static "js/game.js" %}"></script>
{% endblock scripts %}